@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	background:#ECEFF1 fixed;}
.myLayout{
	height:auto;
	min-height:100%;
	width: 100%;
	background:transparent;
	background-attachment:fixed;
	overflow:hidden;
    }
.page-header{
	color:#5A5A5A;
	font-family: 微软雅黑;
	font-weight: normal;}
.additionalInfo textarea{
	width:80%;}
#positionInfo{
	background: none repeat scroll 0 0 white;
    border: 1px solid #D9D9D9;
    box-shadow: 1px 1px 2px rgba(175, 177, 178, 0.35);
    margin-top: 50px;
    padding: 20px;
	max-width:80%;
	margin-left:5%;
	}
#buttons{
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;}
