@charset "utf-8";
/* CSS Document */
body{
	margin:0;}

#main{
	width:100%;
	height:640px;
	/*background:url(img/footer.jpg) repeat-y;*/
	background: none repeat scroll 0 0 #2C7A8B;}
#loginPanel{
	background:#ECEFF1;
    border-radius: 5px;
	position:absolute;
	margin-left:-130px;
	left:50%;
	width:260px;
	height:auto;
	/*border:1px solid #CCCCCC;*/
	text-align:center;
	margin-top:100px;}
#seeNews{
	background:url(../img/splash_ui_more_tab.png) no-repeat;
	color: white;
    display: block;
    height: 40px;
    left: 50%;
    position: absolute;
	top:601px;
    text-align: center;
    width: 220px;
	margin-left:-110px;}
#news{
	top:639px;
	height:2650px;
	overflow:hidden;
	background:#1e1e1e;}
#loginForm{
	padding-top:10px;
	padding-bottom:10px;}
.roleChooser{
	padding-top:30px;}
.text,
.password,
.roleChooser,
.formAction{
	padding-left:10px;}
.formAction{
	padding-top:10px;
	}
.login{
	margin-right:60px;}
.register{
}
/*新闻部分导航*/
#news #news-nav{
	z-index: 1000;
	background:#1E1E1E;
	width:100%;
	left:0;
	text-align:center;
	}
#news #news-nav .nav{
	margin-bottom: 0px;
	}
#news .affix{
	top:0;}
/*新闻内容*/
#news #news-contents{
	height: auto;
    overflow: hidden;
    position:relative;
	top:60px;
	
	}
#news #news-contents .news-contents-content{
	margin-top:20px;
	margin-bottom:20px;
	background: #ECEFF1;
    border-radius: 5px 5px 5px 5px;
	overflow:hidden;
	height:580px;
    }
#news #news-contents .news-contents-title{
	height: auto;
	overflow:hidden;
	border-bottom: 1px solid #F4F6F8;
	
	}
#news #news-contents .news-contents-list{
	padding-top:20px;
	height:480px;
	overflow:auto;
	border-top: 1px solid #DDDEDF;
	}
#news #news-contents .news-contents-list li a{
	cursor:pointer;
	}
#news #news-contents .news-contents-list .news-contents-list-title{
	}
#news #news-contents .news-contents-list .news-contents-list-time{
	}
/*企业信息库*/
.content{
	width:90%;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:0;
	height:auto;
	overflow:hidden;
	background:white;}
.content img{
	overflow:hidden;
	max-width:100px;
	max-height:100px;}
.content a:hover{
	text-decoration:none;
	color:#666;}
/*轮播部分*/
#news .news_picCarousel{
	margin-top:30px;
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	}
/*更多*/
#more1,#more2,#more3{
	margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 90%;
    cursor:pointer;}