@charset "utf-8";
/* CSS Document */
body{
	background:url("/JobPostingsWeb/img/back.jpg");
}
a{
	cursor:pointer;}
.myLayout:before{
	background: none repeat scroll 0 0 #1E1E1E;
    content: "";
    height: 32px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.myLayout{
	position: absolute;
	height: 100%;
	width: 80%;
    top: 0;
	left: 0;
	overflow:hidden;
	/*background:#ECEFF1;*/
	left:10%;
	box-shadow: 0 1px 26px rgba(0, 0, 0, 0.6);
	background: transparent;
    }
.navs{
	position: relative;
	float: left;
	width:20%;
	height:100%;
	/*overflow:auto;
	background:url(img/bg.png);
	background-size:cover;*/
	
	
	}
#intropanel{
	position:relative;
	width:auto;
	height:auto;
	overflow:hidden;}
#intropanel #headicon{
	position:relative;
	float:left;
	}
#intropanel #username{
	position:relative;
	text-align: center;
	float:left;
	}
.contents{
	position: relative;
	float: right;
	width:80%;
	height:100%;
	/*box-shadow: 0 0 5px 0 silver;*/}
.contents .tabs{
	/*width:100%;
	height: 40px;
    position: fixed;
	background:white;*/}
.contents .tabs .tabslayer{
	height:100%}
.contents .tabs-panels{
	/*border-left:1px solid #ddd;
	width:100%;
	height:100%;*/}
#barPart{
	position:absolute;
	width:100%;
	height:32px;
	background:#1e1e1e;
	}
/*内容窗口*/
.myIframe{
    background:transparent;
	padding-left:1%;
	width:99%;
	}
/*头像&通知*/
#barPart #headicon{
	left: 10px;
    max-width: 30px;
    overflow: hidden;
    position:absolute;
    width: auto;
	}
#barPart #username{
	color: white;
    left: 40px;
	width:auto;
    max-width: 150px;
    position:absolute;
	}
#barPart #notification{
	left: 150px;
    margin-top: -7px;
    position: absolute;
    top: 45%;
	}

