@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	}
	
.myLayout{
	height:auto;
	min-height:100%;
	width: 100%;
	overflow:hidden;
    }
#searchingBar{
	position:relative;
	width:100%;
	height:auto;
	z-index: 999;
	box-shadow: 0 0 5px 0 silver;
	padding-top:5px;
	padding-bottom:5px;
	}
#searchingBar #searchingBarContent{
	width:auto;
	margin-left: -220px;
    padding-left: 50%;
	}
#searchingBar .label{
	margin-left: 46%;
	cursor:pointer;}
#searchingBar .rows{
	height: auto;
    margin-left: -370px;
    overflow: hidden;
    padding-left: 50%;
    width: auto;
	display:none;}
#industryPanel{
	width:80%;
	margin-left:10%;}
#industryPanel button{
	width:100%;
	text-align:center;}
#industryPanel .collapse{
	background:#FFF;}
#industryPanel .collapse .collapseContent{
	padding-top:10px;
	padding-bottom:10px;}
/*分页*/
#jobsContent #pagination{
	position:fixed;
	bottom: 0;
    margin: 0;
    position: fixed;
    width: 100%;
	background:#ECEFF1;
	box-shadow: 0 0 5px 0 silver;}

/*内容*/
#jobsContent{
	margin-bottom:100px;}
#jobsContent #contents .content{
	width:80%;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10%;
	height:auto;
	overflow:hidden;
	background:white;}
#jobsContent #contents .content img{
	overflow:hidden;
	max-width:100px;
	max-height:100px;}
#jobsContent #contents .content a:hover{
	text-decoration:none;
	color:#666;}