@charset "utf-8";
/* CSS Document */
body{
	margin:0;}
.page-header{
	color:#5A5A5A;
	font-family: 微软雅黑;
	font-weight: normal;}
.comments #comments_user{
	text-align:center;
	padding:10px;}
#comments_addcontent textarea{
	width:90%;
	}



